@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body {
    margin: 0;
    font-family: emoji;
    justify-content: center;
    display: flex;
    padding: 16px;
  }
  
  .app {
    /* height: 100vh; */
    /* overflow-y: auto; */
  }
  
  .section {
    /* justify-content: center; */
    text-align: center;
  }
  