body {
    margin: 0;
    font-family: 'Georgia', serif;
  }
  
  .app {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* height: 100vh; */
  }
  
  .section {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 24px 16px;
  }
  