.event {
  padding: 40px;
}

.event-container {
  max-width: 1000px; /* Giống thebigday */
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 40px;
  /* background: rgba(255, 192, 203, 0.8); */
  backdrop-filter: blur(6px);
  text-align: center;
}

.event-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  font-family: "emoji";
}

.event-subtitle {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  font-family: "emoji";
}

.event-time {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  font-family: "emoji";
}

.event-map iframe {
  border-radius: 8px;
  overflow: hidden;
}

/* Mobile */
@media (max-width: 768px) {
  .event-container {
    padding: 20px;
  }

  .event-title {
    font-size: 24px;
  }
}
