
.header-title {
  font-family: math;
  text-align: center;
}

.header-couple {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5px;
  color: #e87a90;
  font-family: fantasy;
  font-weight: bold;
}
