
.headerView {
  box-shadow: 0 2px 14px rgba(215, 210, 210, 0.1);
  text-align: center;
  align-content: center;
}
.clickButton:active {
  transform: scale(0.95); /* thu nhỏ nhẹ khi nhấn */
  background-color: #f0f0f0; /* đổi màu khi nhấn */
}
@media (max-width: 500px) {
  h1 {
    flex-direction: column; /* chuyển từ ngang sang dọc */
    gap: 0;
  }
}
