.thebigday {
  text-align: center;
}

.thebigday-container {
  max-width: 1000px;
  margin: auto;
}

.countdown-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.thebigday-col {
  border-radius: 16px;
  box-shadow: #be82a1 0px 4px 12px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.thebigday-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.date-text {
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.countdown div {
  text-align: center;
}

.countdown span {
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.countdown small {
  font-size: 13px;
  color: #666;
}

.expired {
  font-size: 18px;
  color: red;
}

.thebigday-buttons {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  border-width: 0;
}

.thebigday-buttons button {
  /* flex: 1; */
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  max-width: 200px;
  border-width: 0;
  box-shadow: #be82a1 0px 2px 10px;
  border-radius: 8px;
}

/* Hover chung */
.thebigday-buttons button:hover {
  background: #d1a1ba;
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

/* Nếu muốn phân biệt màu hoặc border giữa 2 nút */
.btn-primary {

}

.btn-secondary {
}

.event-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 20px;
}

.event-col {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.event-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-time {
  font-size: 15px;
  margin-bottom: 6px;
  color: #444;
}

.event-address {
  margin-bottom: 12px;
}

.event-map iframe {
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .countdown-wrapper,
  .event-container {
    grid-template-columns: 1fr;
  }
}
